@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Caveat:wght@400;700&family=Dancing+Script&family=Exo&family=Fira+Sans:wght@300&family=Lato&family=Lobster&family=Playfair&family=Playfair+Display&family=Quicksand&family=Tangerine&family=Titan+One&family=VT323&display=swap');
*{
    font-family: Fira Sans;
}
body{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(45deg,rgb(209,172,146),rgb(130,164,251));
    font-size: 16px;
    color: #666666;
    margin: 0;
    padding: 0;
}

header{
    
}
main{
    width: 70%;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(206, 206, 206, 0.338);
    backdrop-filter: blur(10px);
    height: 60%;
    border: 1px #999 solid;
    border-radius: 10px;
    box-shadow: 0px 0px 50px -20px #999;
    transition:0.7s ease all ;
    word-wrap: break-word;
    text-align: justify;
}
main:hover{
    box-shadow: 0px 0px 50px 0px #78787887;
}
#addSec{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input{
    padding: 10px 20px;
    margin: 0px 10px;
    border-radius: 10px;
    border: 1px #999 solid;
    width: 70%;
    outline: none;
    font-size: 1.1rem;
    transition: 0.5s ease all;
    background-color: rgba(243, 243, 243, 0.966);
}
#input:hover{
    background-color: rgba(243, 243, 243, 0.966);
    box-shadow: 0px 0px 10px 0px #999;
}
#addSec>button{
    background-image: url(img/lx.png);
    rotate: 45deg;
    background-size: cover;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    border: none;
    transition: 0.5s ease all;
    cursor:url(img/c1.png)0 0,auto;
}
#addSec>button:hover{
    background-image: url(img/x.png);
}
#addSec>button:active{
    cursor: url(img/c2.png)0 0,auto;
}
#tasks{
    border-top: 1px #999 solid;
    width: 100%;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    height: 80%;
    margin-top: 10px;
    justify-content: center;
}
#tasks::-webkit-scrollbar{
    width: 3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(91, 91, 91, 0.457);
    scroll-behavior: smooth;
}
#tasks::-webkit-scrollbar-thumb{
    width: 3px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(5, 5, 5, 0.457);
    scroll-behavior: smooth;
}
#list{
    padding: 0px 5%;
    justify-content: center;
    text-align: center;
    width: 90%;
}
#tasks>#list>li{
    width: 100%;
    list-style-type: none;
    padding: 13px 0px;
    color: #444;
    border-bottom: 1px #888 solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    cursor:url(img/yes1.png) 0 0,auto;
}

#tasks>#list>li::before{
    content: "";
    width: 22px;
    height: 22px;
    display: inline-flex;
    background-image: url(img/uncheck.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
    transition: 0.5s ease all;
    
}
#list>li::before:active{
    background-image: url(img/check.png);
}
#tasks>#list>li.checked{
    color:#666;
    text-decoration: line-through;
    cursor:url(img/yess1.png) 0 0,auto;
}
#tasks>#list>li.checked::before{
    background-image: url(img/check.png);
}
#list>li.checked>button{
    background-image: url(img/x.png);
    cursor: url(img/c2.png) 0 0,auto;
    
}

#list>li>button{
    background-image: none;
    background-size:contain;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    width: 20px;
    height: 20px;
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    border: none;
    transition: 0.5s ease all;
    cursor:url(img/yes1.png) 0 0,auto;
}
#list>li.checked>button:hover{
    background-image: url(img/lx.png);
}
#list>li.checked>button:active{
    cursor:url(img/c1.png) 0 0,auto;
}
#notice{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}